body{
	background-repeat: repeat;
	background-attachment: <? echo $bgatt ?>;
}
input {
	border-width: 1px;
	border-style: thin;
	border-color: black; 
	background: transparent;
	text-align: left;
	color: Navy;
	font-weight: bold;
	cursor: pointer;
}
textarea {
	border-width: 1px;
	border-style: thin;
	border-color: black; 
	background: transparent;
	text-align: left;
	color: Navy;
	font-weight: bold;
	cursor: pointer;
}
select {
	border-width: 0;
	border-style: thin;
	border-color: black; 
	background: transparent;
	text-align: left;
	color: Navy;
	font-weight: bold;
	cursor: pointer;
}
.bord1{
	background: black;
	size: landscape;
	width: 1;
	color: White;
}
.bord2{
	background: black;
	height: 1px;
	size: landscape;
	color: White;
}
.men{
	
}
.linn{
	
}
.p {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #660000; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.pred {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: red; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.pb {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.pm {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.p2 {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #660000; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.p3 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.p4 {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.p7f {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #9a9ca3; FONT-FAMILY: Tahoma,Arial; TEXT-DECORATION: none
}
A.p7f {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #ebeef7; FONT-FAMILY: Tahoma,Arial; TEXT-DECORATION: none
}
A.p7f:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #ebeef7; FONT-FAMILY: Tahoma,Arial; TEXT-DECORATION: underline
}
.sup {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ce063e; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.w2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
A {
	COLOR: black; 
	text-decoration: none;
}
A:hover {
	COLOR: lime; 
	background: black;
	TEXT-DECORATION: none;
}
A:visited {
	COLOR: lightblack; 
	FONT-STYLE: normal;
}
.menu1{
	text-align: center;
	border-style: groove;
	position: absolute;
	border-width: 2px;
	left: 129;
	top: auto;
	border-color: black;
}
.menu2{
	text-align: center;
	border-width: 2px;	
	border-style: groove;
	position: absolute;
	border-color: black;
	left: 0;
	top: auto;
}
.txt1{
	font-weight: bold;
	font-style: normal;
	font-family: Arial;
	color: white;
}
.r{
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.r:hover{
	text-decoration: underline overline;
	color: lime;
	background: black;
}
.sr{
	text-decoration: none;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
}
.sr:hover{
	text-decoration: underline overline;
	font-family: Tahoma;
	font-size: 8pt;
	color: yellow;
}
.rr{
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	color: red;
}
.rr:hover{
	font-family: Arial;
	color: yellow;
	text-decoration: underline overline;
	font-size: 12pt;
	background: black;
}
.ls{
	background: yellow;
	color: black;
}
.sl{
	background: black;
	color: yellow;
}